@mixin desktop_main_more {
  @media (min-width: 1440px) {
    @content;
  }
}

@mixin main_more {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin main-to-desktop_main {
  @media (min-width: 1280px) and (max-width: 1440px){
    @content;
  }
}

@mixin ipad_more {
  @media (min-width: 769px) {
    @content;
  }
}

@mixin ipad_only {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin ipad-to-main {
  @media (min-width: 768px) and (max-width: 1280px){
    @content;
  }
}

@mixin iphone-to-ipad {
  @media (min-width: 320px) and (max-width: 768px){
    @content;
  }
}

@mixin iphone_more {
  @media (min-width: 320px) {
    @content;
  }
}

@mixin only-iphone {
  @media (max-width: 320px) {
    @content;
  }
}


@mixin rectangle($width, $height) {
  width: #{$width}px;
  height: #{$height}px;
}

@mixin hover($prop, $value) {
  &:hover {
    #{$prop}: #{$value};
  }

  transition: #{$prop} $default_transition_delay;
}
