$default_img_width_about: 480;
$default_img_height_about: 529;

.brand_about {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 120px;

  padding: 200px 150px 0;

  position: relative;

  &-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    &--no-description {
      justify-content: space-around;
      padding-left: 30px;
    }

    &-heading {
      @extend %heading;
      margin-bottom: 4px;
    }

    &-description {
      @extend %text;

      align-self: flex-start;
      max-width: 380px;

      @include only-iphone {
        font-size: 14px;
      }
    }

    &-btn {
      @extend %eco-btn;

      align-self: flex-start;
      //justify-self: flex-start;

      margin-top: 20px;
    }

    & > .learn_more {
      margin-top: 10px;
      align-self: flex-start;
    }

    @include only-iphone {
      align-items: flex-start;
    }
  }

  &-img {
    @include rectangle(
                    $default_img_width_about,
                    $default_img_height_about
    );

    @include ipad_only {
      @include rectangle(
                      396,
                      318
      );
    }

    @include only-iphone {
      display: none;
    }
  }

  &-show {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &-item {
      @extend %text;
      align-self: flex-end;
      position: relative;
    }

    @include ipad_only {
      display: none;
    }
  }

  &-point {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &-item {
      background-color: $default_dark;

      width: 76px;
      height: 2px;
    }

    @include ipad_only {
      display: none;
    }
  }

  @include ipad_only {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 0;

    gap: 30px;
  }

  @include only-iphone {
    padding: 0 20px;
  }
}
