.contact_us {
  display: flex;
  justify-content: flex-end;

  gap: 120px;

  padding-bottom: 200px;

  &-img {
    @include ipad_only {
      width: 368px;
      height: 409px;
    }

    @include only-iphone {
      display: none;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;

    width: 480px;


    &-form {
      display: flex;
      flex-direction: column;
      gap: 30px;

      :nth-last-child(2) {
        margin-top: 30px;
      }

      &-input {
        @extend %eco-input;
      }

      &-btn {
        @extend %eco-btn;

        margin-top: 20px;

        @include only-iphone {
          align-self: center;
        }
      }
    }

    &-heading {
      @extend %h2;

      margin-bottom: 30px;
    }

    &-description {
      @extend %text;
      max-width: 380px;

      margin-bottom: 40px;

      @include ipad_only {
        max-width: 342px;
      }

      @include only-iphone {
        max-width: 280px;
      }
    }
  }

  @include ipad_only {
    gap: 30px;

    padding-left: 27px;
  }

  @include only-iphone {
    padding: 0 20px 200px;
  }
}
