.nature_friendly {
  padding: 200px 130px;

  display: flex;
  justify-content: space-between;

  &-item {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    gap: 44px;

    &-text {
      @extend %text2;

      text-align: center;
    }
  }

  @include ipad_only {
    padding: 130px 27px;
  }

  @include only-iphone {
    flex-direction: column;
    gap: 50px;

    padding: 100px 20px;
  }
}
