$default_img_width: 580;
$default_img_height: 451;

.offers {
  display: flex;
  justify-content: center;

  gap: 20px;

  min-height: 0.87 * $screen_height;

  padding: 40px;

  &-info {
    max-width: 480px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    &-heading {
      @extend %h1;

      color: $default_dark;

      @include ipad_only {
        text-align: center;
        font-size: 36px;
      }

      @include only-iphone {
        font-size: 24px;
      }
    }

    &-description {
      @extend %paragraph;

      margin-bottom: 20px;
    }

    &-btn {
      @extend %eco-btn;
    }

    @include ipad_only {
      align-items: center;
    }

    @include only-iphone {
      padding: 0 20px;
    }
  }

  &-img {
    @include rectangle($default_img_width, $default_img_height);

    @include ipad_only {
      width: 100%;
      height: 500px;
    }

    @include only-iphone {
      height: 267px;
    }
  }

  @include ipad_only {
    flex-direction: column-reverse;
    align-items: center;
    gap: 50px;

    padding: 0 20px;
  }

  @include only-iphone {
    justify-content: flex-end;
    padding: 0;
  }

  @include main_more {
    padding: 70px 130px 200px;
  }
}
