.phrase_section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;

  padding: 100px 150px;

  &-text {
    @extend %text;
  }

  &-heading {
    @extend %h4;

    text-transform: uppercase;
  }
}
