.shop_section {
  display: flex;
  flex-direction: column;

  position: relative;

  padding-top: 200px;
  padding-left: 200px;

  //& > .back-side {
  //  left: 130px;
  //
  //  &::before {
  //    left: -110%;
  //  }
  //}

  &-heading {
    @extend %heading;

    margin-bottom: 30px;

    @include only-iphone {
      align-self: center;
    }
  }

  &-nav {
    margin-bottom: 50px;

    &-list {
      display: flex;

      gap: 50px;

      &-item {
        @extend %h5;

        color: $default_grey;
        cursor: pointer;

        transition: 0.33s;

        &--is-active, &:hover {
          color: $default_dark;

          &::after {
            content: "";

            display: block;
            height: 2px;

            margin-top: 10px;

            background-color: $default_dark;
          }
        }

        @include ipad_only {
          font-size: 14px;
        }
      }

      @include ipad_only {
        gap: 16px;
      }

      @include only-iphone {
        justify-content: center;
      }
    }

    @include only-iphone {
      padding: 0 20px;
      margin-bottom: 15px;
    }
  }

  &-cards {
    display: flex;
    flex-wrap: wrap;

    //justify-content: center;
    //align-items: center;

    gap: 20px;

    .shop_card {
      &-img {
        @include ipad_only {
          width: 342px;
          height: 300px;
        }

        @include only-iphone {
          width: 320px;
          height: 267px;
        }
      }

      &-title, &-price {
        @include only-iphone {
          padding: 0 20px;
        }
      }

      @include ipad_only {
        &:nth-child(2n) {
          display: none;
        }
      }

      @include only-iphone {
        &:nth-child(n + 2) {
          display: none;
        }
      }
    }
  }

  &-btn {
    @extend %eco-btn;

    align-self: center;
    margin-top: 40px;
  }

  @include ipad_only {
    padding: 130px 27px 100px;
  }

  @include only-iphone {
    padding: 130px 0 100px;
  }
}


