// Measures
$screen_height: 100vh;
$default_transition_delay: 0.33s;

// Colors
$default_green: #344F10;
$default_dark: #333333;
$background_color: #E4DFD3;
$default_grey: #828282;
$default_red: #EB5757;
