@import "variables";

@import "normalizer";

@import "fonts";

@import "utils";

@import "layout";

@import "sections";

@import "components";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;

  background-color: $background_color;
}

button {
  background-color: $background-color;
}
