// Variables
@import "variables";

// Normalizer
@import "normalizer";

// Fonts
@import "fonts";

// Utils
@import "utils";

// Layout
@import "layout";

// Sections
@import "sections";

// Components
@import "components";

body {
  position: relative;

  background-color: $background_color;
}

button {
  background-color: $background-color;
}
